.footer {
    position: absolute;
    width: 100%;
    top: 70%;
    bottom: 0;
    height: 30%;
    overflow: hidden;
    z-index: 1;
    background-color: whitesmoke;
    transition: all 1s;
  }
  
  .close {
    top: 100%;
    height: 0;
  }